@import '../../base.scss';

.butter-toast-tray.toast-slim {
    font-size: 12px;

    .toast {
        padding: 5px 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: $md-grey-800;
        color: $md-grey-100;
        box-sizing: border-box;
        vertical-align: middle;
        white-space: nowrap;
        border-radius: 5px;
        opacity: 0;
        transition: transform .4s, opacity .3s;

        &.shown {
            opacity: 1;
        }
    }
}