@import '../../base.scss';

.butter-toast-tray.toast-slim {
    font-size: 12px;

    .action-wrapper {
        width: 350px;
    }

    .toast {
        display: inline-block;
        padding: 5px 10px;
        text-align: center;
        background-color: $md-grey-800;
        color: $md-grey-100;
        box-sizing: border-box;
        vertical-align: middle;
        max-width: 350px;
        border-radius: 5px;
    }
}