{
    "presets": [
        "react",
        ["env", {
            "targets": {
                "browsers": ["last 4 versions", "not ie <= 10"]
            },
            "modules": false
        }],
        "stage-3"
    ],
    "env": {
        "test": {
            "presets": [
                "react",
                ["env", {
                    "targets": {
                        "node": "current"
                    }
                }]
            ]
        }
    },
    "plugins": [
        "transform-class-properties",
        "transform-runtime"
    ]
}
