# Logs
logs
*.log
npm-debug.log*
.cache/*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage

# Dependency directories
node_modules/
gh-pages

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

storybook-static
dist
assets.json
*.sublime-workspace
*.sublime-project
storybook-static/
.idea

# Apple
.DS_Store
