@import '../base.scss';

.butter-toast-tray .action-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform .4s, opacity .3s;

    &.shown {
        opacity: 1;
    }
}

.butter-toast-tray.toast-slim {
    font-size: 12px;

    .action-wrapper {
        width: 350px;
    }

    .toast {
        display: inline-block;
        padding: 5px 10px;
        text-align: center;
        background-color: $md-grey-800;
        color: $md-grey-100;
        box-sizing: border-box;
        vertical-align: middle;
        max-width: 350px;
        border-radius: 5px;
        box-shadow: 0 3px 5px $md-grey-400;

        a {
            color: $md-grey-100;
            text-decoration: none;
        }
    }
}