@import '../base';

.butter-toast-tray {
    position: absolute;
    z-index: 999999;

    &[class*="-left"] {
        left: 5px;
    }

    &[class*="-right"] {
        right: 5px;

        .wrapper {
            text-align: right;
        }
    }

    &[class*="-center"] {
        left: 50%;

        .wrapper {
            text-align: center;
        }
    }

    &[class*="top-"] {
        top: 5px;
    }

    &[class*="bottom-"] {
        bottom: 5px;
    }

    .wrapper {
        position: relative;
        padding: 10px;

        .toast {
            text-align: left;
        }
    }
}