@import '../../base.scss';

@keyframes showIcon {
    0% { transform: scale(.6); }
    60% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.action-wrapper.shown .toast .cinnamon-sugar-crisp aside {
    animation: showIcon .5s;
}

.cinnamon-sugar-crisp {
    font-size: 11px;
    line-height: 14px;
    position: relative;
    background-color: $md-white;
    min-height: 50px;
    width: 400px;
    padding: 10px 45px 10px 60px;
    box-sizing: border-box;
    box-shadow: 0 3px 15px $md-grey-200;
    border-radius: 5px;
    transition: box-shadow .3s;
    overflow: hidden;
    z-index: 1;

    &:hover {
        box-shadow: 0 3px 15px $md-grey-300;
    }

    .title {
        padding-bottom: 5px;
        color: $md-grey-700;
        font-size: 15px;
    }

    .message {
        color: $md-grey-500;
    }

    a.btn-dismiss {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
        font-size: 22px;
        color: $md-grey-400;
        transition: background-color .4s;

        &:hover {
            background-color: $md-grey-50;
        }

        &:active {
            background-color: $md-grey-100;
        }
    }

    &.success    { color: $md-green-400; }
    &.error      { color: $md-red-400; }
    &.info       { color: $md-blue-400; }
    &.danger     { color: $md-orange-400; }
    &.golden     { color: $md-amber-400; }
    &.dark       { color: $md-grey-600; }
    &.default    { color: $md-grey-400; }
}