.App-header {
  background: #ffecb3;
  text-align: center;
  padding: 25px; }
  .App-header h2 {
    margin: 0;
    color: #f57f17; }

.butter-toast-tray .toast .content {
  background-color: #424242;
  color: #eeeeee;
  font-size: 12px;
  max-width: 350px;
  padding: 5px 15px;
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: 0 4px 5px #9e9e9e; }
