@import '../../base.scss';

.action-wrapper.cs-Slim {
    width: 200px;

    .toast {
        .cinnamon-sugar-Slim {
            display: inline-block;
            font-size: 12px;
            text-align: center;
            padding: 5px 10px;
            max-width: 350px;
            overflow: hidden;
            border-radius: 5px;
            box-sizing: border-box;
            box-shadow: 0 3px 5px $md-grey-400;
            transition: box-shadow .3s;

            &.dark {
                background-color: $md-grey-800;
                color: $md-grey-100;
            }

            &.lite {
                background-color: $md-grey-50;
                color: $md-grey-800;
            }

            &:hover {
                box-shadow: 0 3px 5px $md-grey-500;
            }
        }
    }
}
