@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import './colors.scss';

body {
    font-family: Arial;
    padding: 0;
    margin: 0;
}

.my-toast {
    position: relative;
    padding-right: 20px;

    .fa {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.butter-toast-tray {
    font-size: 12px;

    &.t5 {
        .toast {
            cursor: pointer;
        }
    }

}

.butter-toast-tray.butter-toast-large {
    color: $md-grey-800;

    .action-wrapper {
        width: 250px;
    }

    .toast {
        background-color: $md-grey-200;
        text-align: center;
        height: 75px;
        width: 250px;
        text-align: left;
        border-radius: 3px;

        figure {
            padding: 0;
            margin: 0;

            .btn-dismiss {
                position: absolute;
                right: 0;
                top: 0;
                font-size: 14px;
                padding: 5px;
                color: $md-grey-500;

                &:hover {
                    color: $md-grey-700;
                }
            }

            .image {
                float: left;
                width: 75px;
                height: 75px;
                background-size: cover;
            }

            figcaption {
                padding: 10px 30px 10px 10px;
                line-height: 12px;
                max-height: 51px;
                overflow: hidden;
            }
        }
    }
}